
//component_colors

$main_blue: #3491CF;
$main_blue_dark: #1F5E87;
$gray_middle: #f0f0f0;
$gray_middle_d: #d1d1d1;

//footer
$footer_light: #474C63;
$footer_middle: #272A38;
$footer_dark: #1D202B;


//map_color

$map_soft: #EDF3F6;
$map_mid: #DADFE2;
$map_dark: #3491CF;


//cont_color

$main_back: #EDF3F6;
$main_dark: #E3EDF6;

//screen_size

$mobile: "(max-width:767px)";                          // xs
$tablet: "(min-width:768px) and (max-width:991px)";   // sm
$desktop: "(min-width:992px)";                       // md, lg
$mdesktop: "(min-width:1348px) and (max-width:1648px)";